<!DOCTYPE html>
<html>
  
  <head>
    <title>Anonymous Message Board</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/board_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  
  <body class="px-3">
    <header class="text-center">
      <a class="top-link" href="https://fcc-anon-msgboard-kl.glitch.me">
        <img src="https://cdn.glitch.com/cecc3735-6847-455d-bd6c-6a37cf748027%2Fanon_logo_transparent.png?1543278229928" width="250">
      </a>
      <h1 id="boardTitle"></h1>
    </header>
    
    <main>
    
      <section id="submitNewThread" class="container py-3 mb-5 text-center">
        <h5 class="mb-2"><a href="https://fcc-anon-msgboard-kl.glitch.me">boards</a></h5>
        <h3>Submit New Thread</h3>
        <form id="newThread" method="post" action="/api/">
          <textarea rows="5" cols="60" type="text" placeholder="Thread text..." name="text" required></textarea><br>
          <div class="row justify-content-center align-items-center my-2">
              <input type="text" placeholder="password to delete" name="delete_password" required>
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>
    
    <section id="boardDisplay" class="container py-3 px-5"></section>
    
      
    </main>
    
    <footer></footer>
   
    <script src="/app/board.js"></script>
  </body>
  
</html>
